body {
    box-sizing: border-box;
    border: 10px solid black;
    margin: 15px;
}

.item {
    display:flex;
    justify-content: center;
    gap: 15px;
}

.price {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#headdiv {
    background-color: brown;
    margin: 0%;
    padding: 15px;
}

h1 {
    color: white;
    text-align: center;
}