body {
    background-color: lightgrey;
}

h1 {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.secondlist {
    color: blue;
}

ul {
    background-color: aqua, 0.4
}